---
layout: default
---

<!-- Loop through paginated posts -->
<div id="home">
  <h1>Posts</h1>
  {% for post in paginator.posts %}
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h2>{{ post.title }}</h2>
    </a>

    <p>{{ post.date | date_to_string }} | <a href="/categories/{{ post.categories }}">{{ post.categories }}</a></p>
    <p>{{ post.excerpt }}</p>
    <a href="{{ site.baseurl }}{{post.url }}">Read more &rarr;</a>

  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">
      &laquo; Prev
    </a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">
        {{ page }}
      </a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
        {{ page }}
      </a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">
      Next &raquo;
    </a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
