---
layout: default
---

<!-- Loop through paginated posts -->
<div id="home">
  {% for post in paginator.posts %}
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h2>{{ post.title }}</h2>
    </a>

    <p>{{ post.date | date_to_string }} | <a href="/categories/{{ post.categories }}">{{ post.categories }}</a></p>
    <p>{{ post.excerpt }}</p>

    <a href="{{ site.baseurl }}{{post.url }}">Read more &rarr;</a>
  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
{% endif %}