<!-- Default Statcounter code for Programming Blog
https://raisingexceptions.com/ -->
<script type="text/javascript">
var sc_project=12439562; 
var sc_invisible=1; 
var sc_security="da333143"; 
var sc_https=1; 
var sc_remove_link=1; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><img class="statcounter"
src="https://c.statcounter.com/12439562/0/da333143/1/"
alt="Web Analytics"></div></noscript>
<!-- End of Statcounter Code -->
